In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
DataDir = "/home/onimem/work/Open_world/NBA/original"

from subprocess import check_output
print(check_output(["ls", DataDir]).decode("utf8"))

Players.csv
Seasons_Stats.csv
player_data.csv

In [2]:
# Players.csv
players=pd.read_csv(DataDir + '/Players.csv')
players.drop('Unnamed: 0', axis=1, inplace=True)
players.dropna(how='all',inplace=True)
print(players.shape)
players.head()

(3921, 7)

,Player,height,weight,collage,born,birth_city,birth_state
0,Curly Armstrong,180.0,77.0,Indiana University,1918.0,NaN,NaN
1,Cliff Barker,188.0,83.0,University of Kentucky,1921.0,Yorktown,Indiana
2,Leo Barnhorst,193.0,86.0,University of Notre Dame,1924.0,NaN,NaN
3,Ed Bartels,196.0,88.0,North Carolina State University,1925.0,NaN,NaN
4,Ralph Beard,178.0,79.0,University of Kentucky,1927.0,Hardinsburg,Kentucky

In [3]:
# Seasons_Stats.csv
seasons=pd.read_csv(DataDir + '/Seasons_Stats.csv')
seasons.drop('Unnamed: 0', axis=1, inplace=True)
seasons.dropna(how='all',inplace=True)
print(seasons.shape)
seasons.head()

(24624, 52)

,Year,Player,Pos,Age,Tm,G,GS,MP,PER,TS%,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,1950.0,Curly Armstrong,G-F,31.0,FTW,63.0,NaN,NaN,NaN,0.368,...,0.705,NaN,NaN,NaN,176.0,NaN,NaN,NaN,217.0,458.0
1,1950.0,Cliff Barker,SG,29.0,INO,49.0,NaN,NaN,NaN,0.435,...,0.708,NaN,NaN,NaN,109.0,NaN,NaN,NaN,99.0,279.0
2,1950.0,Leo Barnhorst,SF,25.0,CHS,67.0,NaN,NaN,NaN,0.394,...,0.698,NaN,NaN,NaN,140.0,NaN,NaN,NaN,192.0,438.0
3,1950.0,Ed Bartels,F,24.0,TOT,15.0,NaN,NaN,NaN,0.312,...,0.559,NaN,NaN,NaN,20.0,NaN,NaN,NaN,29.0,63.0
4,1950.0,Ed Bartels,F,24.0,DNN,13.0,NaN,NaN,NaN,0.308,...,0.548,NaN,NaN,NaN,20.0,NaN,NaN,NaN,27.0,59.0

In [4]:
node = pd.merge(seasons, players)
print(node.shape)
node.head()

(24624, 58)

,Year,Player,Pos,Age,Tm,G,GS,MP,PER,TS%,...,BLK,TOV,PF,PTS,height,weight,collage,born,birth_city,birth_state
0,1950.0,Curly Armstrong,G-F,31.0,FTW,63.0,NaN,NaN,NaN,0.368,...,NaN,NaN,217.0,458.0,180.0,77.0,Indiana University,1918.0,NaN,NaN
1,1951.0,Curly Armstrong,G-F,32.0,FTW,38.0,NaN,NaN,NaN,0.372,...,NaN,NaN,97.0,202.0,180.0,77.0,Indiana University,1918.0,NaN,NaN
2,1950.0,Cliff Barker,SG,29.0,INO,49.0,NaN,NaN,NaN,0.435,...,NaN,NaN,99.0,279.0,188.0,83.0,University of Kentucky,1921.0,Yorktown,Indiana
3,1951.0,Cliff Barker,SG,30.0,INO,56.0,NaN,NaN,NaN,0.322,...,NaN,NaN,98.0,152.0,188.0,83.0,University of Kentucky,1921.0,Yorktown,Indiana
4,1952.0,Cliff Barker,SG,31.0,INO,44.0,NaN,494.0,10.8,0.343,...,NaN,NaN,56.0,126.0,188.0,83.0,University of Kentucky,1921.0,Yorktown,Indiana

In [5]:
node.dropna(axis=1, inplace=True)
print(node.shape)
node.head()

(24624, 17)

,Year,Player,Pos,Tm,G,FG,FGA,2P,2PA,FT,FTA,AST,PF,PTS,height,weight,born
0,1950.0,Curly Armstrong,G-F,FTW,63.0,144.0,516.0,144.0,516.0,170.0,241.0,176.0,217.0,458.0,180.0,77.0,1918.0
1,1951.0,Curly Armstrong,G-F,FTW,38.0,72.0,232.0,72.0,232.0,58.0,90.0,77.0,97.0,202.0,180.0,77.0,1918.0
2,1950.0,Cliff Barker,SG,INO,49.0,102.0,274.0,102.0,274.0,75.0,106.0,109.0,99.0,279.0,188.0,83.0,1921.0
3,1951.0,Cliff Barker,SG,INO,56.0,51.0,202.0,51.0,202.0,50.0,77.0,115.0,98.0,152.0,188.0,83.0,1921.0
4,1952.0,Cliff Barker,SG,INO,44.0,48.0,161.0,48.0,161.0,30.0,51.0,70.0,56.0,126.0,188.0,83.0,1921.0

In [6]:
node['Age'] = node['Year'] - node['born']
node.drop(columns = 'born', inplace=True)

In [7]:
multiple = []
for name in players['Player']:
    cond = 'Player == "' + name + '"'
    tmp_pd = node.query(cond)
    l = {}
    for year in tmp_pd['Year']:
        if year in l.keys():
            l[year] += 1
        else:
            l[year] = 1
    for i in [2,3,4,5,6]:
        if i in l.values():
            multiple.append(name)
            break
print(len(multiple))

1494

In [8]:
miss = node.query('Age > 36')['Player'].unique()
for i in range(len(node)):
    if node.loc[i, 'Player'] in multiple or node.loc[i, 'Tm'] == 'TOT' or node.loc[i, 'Player'] in miss:
        node = node.drop(i)
print(node.shape)
node.head()

(7947, 17)

,Year,Player,Pos,Tm,G,FG,FGA,2P,2PA,FT,FTA,AST,PF,PTS,height,weight,Age
0,1950.0,Curly Armstrong,G-F,FTW,63.0,144.0,516.0,144.0,516.0,170.0,241.0,176.0,217.0,458.0,180.0,77.0,32.0
1,1951.0,Curly Armstrong,G-F,FTW,38.0,72.0,232.0,72.0,232.0,58.0,90.0,77.0,97.0,202.0,180.0,77.0,33.0
2,1950.0,Cliff Barker,SG,INO,49.0,102.0,274.0,102.0,274.0,75.0,106.0,109.0,99.0,279.0,188.0,83.0,29.0
3,1951.0,Cliff Barker,SG,INO,56.0,51.0,202.0,51.0,202.0,50.0,77.0,115.0,98.0,152.0,188.0,83.0,30.0
4,1952.0,Cliff Barker,SG,INO,44.0,48.0,161.0,48.0,161.0,30.0,51.0,70.0,56.0,126.0,188.0,83.0,31.0

In [9]:
node = node[['Player', 'Year', 'Tm', 'Pos', 'Age', 'height', 'weight', 'G',  'FG', 'FGA', '2P', '2PA',  'FT', 'FTA', 'AST', 'PF',  'PTS']]
csv = node.reset_index()
csv.drop(columns = 'index', inplace=True)
csv.to_csv("graph/node.csv")